@import "foundation";

@import "~foundation-sites/scss/foundation";
@import "./settings";
// @include foundation-everything;

.App {
    // text-align: center;
    background-color: #d8eefe;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.top-bar {
    background-color: white;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-right {
        color: black;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-tab {
        font-weight: normal;
        color: black;
        margin-right: 2rem;
        text-decoration: none;
    }
}

.home-page-logo{
    height: auto;
    width: 100vw;
}

.team-grid {
    display: flex;
    justify-content: left;
    margin-top: 2rem;
    padding-bottom: 2rem;
}

.team-thumbnail {
    object-fit: cover;
    outline-style: solid;
    // outline-color: red;
    outline-width: 2px;
    height: 270px;
    width: 270px;
}